[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ThijsJansen02/imgui-premake.git
	branch = docking
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/icaven/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/ThijsJansen02/assimp-premake.git
[submodule "dep/yaml"]
	path = dep/yaml
	url = https://github.com/ThijsJansen02/yaml-cpp-premake.git
[submodule "dep/entt"]
	path = dep/entt
	url = https://github.com/skypjack/entt.git
[submodule "dep/stb_/stb"]
	path = dep/stb_/stb
	url = https://github.com/nothings/stb.git
[submodule "dep/cpython"]
	path = dep/cpython
	url = https://github.com/python/cpython.git
[submodule "dep\\pybind11"]
	path = dep\\pybind11
	url = https://github.com/pybind/pybind11.git
