[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ThijsJansen02/imgui-premake.git
	branch = docking
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/icaven/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/ThijsJansen02/assimp-premake.git
