[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ThijsJansen02/imgui-premake.git
	branch = docking
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/icaven/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/ThijsJansen02/assimp-premake.git
[submodule "dep/yaml"]
	path = dep/yaml
	url = https://github.com/ThijsJansen02/yaml-cpp-premake.git
[submodule "dep/entt"]
	path = dep/entt
	url = https://github.com/skypjack/entt.git
